#!/bin/bash

BASE_PATH=$(pwd)
REPOS=({% for repo in short_repo_name %}"{{ repo }}" {% endfor %})

for repo in "${REPOS[@]}"; do
    echo "Updating repo: ${BASE_PATH}/${repo}"
    createrepo_c --update ${BASE_PATH}/${repo}
done
