#!/bin/bash

BASE_PATH=$(pwd)

echo "Updating RPM and SRPM repos"

REPOS=({% for repo in repositories %}"{{repo.path}} {{ repo.sources.path }} " {% endfor %})
for repo in "${REPOS[@]}"; do
    echo "Updating repo: ${BASE_PATH}/${repo}"
    createrepo_c --update ${BASE_PATH}/${repo}
done
