---

repo_base: "/usr/share/nginx/html/repos"
repo_fqdn: "repos.nortk.com"

repositories:
  - name: "Linux Enterprise by NorTK OS Repository"
    short_name: "os"
    version: "0.1"
  - name: "Linux Enterprise by NorTK ERP Repository"
    short_name: "erp"
    version: "0.1"

# The full_repo_path is now derived from repo_base and item.short_name
# in the tasks.
